<html>
<head>
  <script>

    function random_function()
    {
      var a=document.getElementById("input").value

      if(a==="COUNTRY")
      {
        var arr=["INDIA","USA"];
      }
      else if(a==="STATE")
      {
        var arr=["Maharashtra","Delhi","GUJARAT"];
      }
      else if(a==="CITIES")
      {
        var arr=["abc","xyz","asa"];
      }

      var string="";

      for(i=0;i<arr.length;i++)
      {
        string=string+"<option value="+arr[i]+">"+ arr[i]+" </option>";
      }
      document.getElementById("output").innerHTML=string;
    }

    /*var ajax =  new XMLHttpRequest();
    var method = "GET";
    var url = "getallcountry";
    var asynchronous = true;

    ajax.open(method,url,asynchronous);
    //Sending ajax request
    ajax.send();

    //reciving response from  data
    ajax.onreadystatechange = function ()
    {
      if (this.readyState == 4 && this.status == 200)
        {
           alert(this.responseText)
        }
    }

*/
</script>
</head>
<body>
<h1><%= title %></h1>

<select id="input" onchange="random_function()">
  <option>select option</option>
  <option>COUNTRY</option>
  <option>STATE</option>
  <option>CITIES</option>
</select>

<div>
  <select id="output">
  </select>
</div>
</body>
</html>
<!--
https://jsfiddle.net/patelriki13/m1ezs70o/
https://www.youtube.com/watch?v=jMnpET38HJc
-->
