<html>
<head>
</head>
<body>
<h1><%= title %></h1>
<select id="country" onchange="stateFn()"> </select>
<select id="state" onchange="citiesFn()"> </select>
<select id="cities"> </select>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    let ajax = new XMLHttpRequest();
    let method = "GET";
    let url = "http://localhost:5000/countries";
    //let asynchronous = true;
    ajax.open(method, url, true);
    ajax.send();
    ajax.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log(typeof this.responseText);
        let resData = JSON.parse(this.responseText);
        let data = resData.data;
        let string = "<option value=''></option>";
        data.forEach(function (item) {
          string = string + "<option value=" + item.id + ">" + item.name + "</option>";
        })
        document.getElementById('country').innerHTML = string;
      }
    }
  });

  function stateFn() {
    let x = document.getElementById("country").value;
    let ajax = new XMLHttpRequest();
    let method = "GET";
    let url = "http://localhost:5000/states/" + x;
    ajax.open(method, url, true);
    ajax.send();
    ajax.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log(typeof this.responseText);
        let resData = JSON.parse(this.responseText);
        let data = resData.data;
        let string = "<option value=''></option>";
        data.forEach(function (item) {
          string = string + "<option value=" + item.id + ">" + item.name + "</option>";
        })
        document.getElementById('state').innerHTML = string;
      }
    }
  }

  function citiesFn() {
    let x = document.getElementById("state").value;
    let ajax = new XMLHttpRequest();
    let method = "GET";
    let url = "http://localhost:5000/cities/" + x;
    //let asynchronous = true;
    ajax.open(method, url, true);
    ajax.send();
    ajax.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log(typeof this.responseText);
        let resData = JSON.parse(this.responseText);
        let data = resData.data;
        let string = "<option value=''></option>";
        data.forEach(function (item) {
          string = string + "<option value=" + item.id + ">" + item.name + "</option>";
        })
        document.getElementById('cities').innerHTML = string;
      }
    }
  }
</script>
</body>
</html>
