<html>
<head>
  <body>
<table border="5">


<tr>
    <td>
      <%= person.forEach(function (person) { %>
    </td>
  </tr>
  <td><%= person.name %></td>
  <td><%= person.id %></td>
  <td><%= person.dept %></td>
  <%})%>

</table>
</body>
</head>
</html>