<html>
<head>
  <title>

  </title>
</head>
<body>
<form id="student-form" method="post" action="/contact">
FirstName: <input type="text" name="fn" value="">
LastName: <input type="text" name="ln" value="">
Email: <input type="text" name="email" value="">
Password: <input type="text" name="pwd" value="">
<input type="submit" value="submit">
</form>
</body>
</html>