
<html>
<head>
<body>

<table border="5">
  <tr>
    <td>
      <% me.forEach(function(me) { %>
    </td>
  </tr>
  <td><%= me.name %></td>
  <td><%= me.id %></td>
  <td><%= me.dept%></td>
  <% }); %>
  </table>

</body>
</head>
</html>


















